
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.loader-div > div {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.task {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    width: 100%;
}

.task__underline {
    margin-top: 5px;
    display: flex;
    height: 2px;
    width: 100%;
    background-color: #786F62;
}

.main-task__content {
    position: relative;
}

.task__content {
    position: relative;
}

.task__field {
    margin-bottom: 5px;
    padding-left: 35px;
}

.task__edit {
    height: 10px;
    width: 20px;
    padding-left: 5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.edit-img {
    background-color: #1A1A1A;
    height: 17px;
    width: 17px;
}

.description {
    font-size: 14px;
}

ul.tags-list {
    padding: 0 10%;
    width: 100%;
}

ul.tags-list li {
    display: inline;
}

ul.tags-list li a {
    cursor: pointer;
    color: white;
    padding: 1px 5px;
	font-size: 12px;
}

ul.tags-list li a:hover {
    text-decoration: underline;
}

.task__title {
    padding: 5px;
    padding-bottom: 0px;
    display: flex;
}

.task__title span {
    padding-top: 1px;
}

.title {
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
}

.edit-menu {
    z-index: 10;
    position: absolute;
    background-color: black;
    top: 20px;
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 2px solid #9D331F;
    border-radius: 10px;
    transform: translateY(60px);
    visibility: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.edit-menu button {
    background-color: black;
    color: white;
    display: block;
    padding: 2px;
}

.edit-menu button:hover {
    color: #9D331F;
}

.edit-menu.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
