
.task-modal {
    cursor: default;
    width: 100%;
    z-index: 60;
    padding-left: 20px;
    padding-bottom: 20px;
}

.modal-content {
    display: flex;
    flex-direction: row;
}

.close {
    width: 100%;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.close-void {
    width: 95%;
    height: 20px;
    display: inline-flex;
}

.close-area {
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.close-button {
    padding-top: 10px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    color: #9D331F;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
}

.close-button:hover {
    transition: 0.3s;
    width: 22px;
    height: 22px;
    font-size: 26px;
}

.task-buttons {
    font-size: 14px;
    opacity: 0.7;
    padding-top: 20px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.task__side-content {
    display: inline-block;
}

.right > * {
    padding-top: 10px;
}

.right {
    width: 50%;
}

.left {
    width: 50%;
}

ul.label-list {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 50px;
    max-height: 50px;
    width: 50%;
}

ul.label-list::-webkit-scrollbar {
    width: 7px;         
}
  
ul.label-list::-webkit-scrollbar-track {
    background: transparent;          
}
  
ul.label-list::-webkit-scrollbar-thumb {
    background-color: #9D331F;    
    border-radius: 5px;     
    margin: 5px;   
}

ul.label-list li {
    padding-top: 10px;
}

ul.label-list li:first-child {
    padding-top: 5px;
}

ul.label-list li a {
    text-align: center;
    display: block;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.save-task {
    background-color: #9D331F;
    height: 30px;
    border-radius: 5px;
    width: 80px;
    color: white;
    align-items: center;
    justify-content: center;
}

.save-task:hover {
    background-color: #7a210f;
}

.save-task:active {
    background-color: rgb(140, 28, 28);
}

.delete-task {
    color: #9D331F;
    background-color: transparent;
    height: 30px;
    border-radius: 5px;
    width: 80px;
    align-items: center;
    justify-content: center;
}

.delete-task:hover {
    color: #7a210f;
}

.delete-task:active {
    color: rgb(140, 28, 28);
}

.add-task-taskmodal {
    font-size: 22px;
    margin-left: 200px;
    background-color: #9D331F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.add-task-taskmodal:hover {
    color: white;
}

.add-task-text {

}

.sub-task-open-button-img {
    width: 15px;
    height: 15px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    transform: rotate(270deg);
}

.sub-task-view {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.sub-task-open-button-img.open {
    transform: rotate(360deg);
}

.sub-task-container {
    width: 100%;
    margin-left: -1%;
}

.sub-task-list {
    z-index: 100;
    position: absolute;
    background-color: black;
    padding: 5px;
    margin-left: 20px;
    border: 2px solid #9D331F;
    border-radius: 10px;
    transform: translateY(100px);
    visibility: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-task-list.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.task-container{
    padding-top: 2px;
}

.task__underline {
    display: flex;
    height: 2px;
    width: 100%;
    background-color: #786F62;
}

.task-text {
    display: flex;
    flex-direction: column;
    left: 0
}

.task__title {
    display: flex;
}

.sub_task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub_task span {
    padding: 5px;
    padding-right: 10px;
    cursor: pointer;
}
