
.board {
    width: 800px;
    padding: 20px 10px;
    border-radius: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
  
.board__title {
    left: 0;
}
  
.item {
    border-radius: 6px;
    cursor: grab;
}