.done-table {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    padding-top: 40px;
}

.done-table::-webkit-scrollbar {
    width: 10px;  
    height: 10px;       
}
  
.done-table::-webkit-scrollbar-track {
    background: transparent;          
}
  
.done-table::-webkit-scrollbar-thumb {
    background-color: #9D331F;    
    border-radius: 2px;     
    margin: 1px;   
}

.last {
    display: flex;
    min-height: 20px;
    width: 100%;
}