.week-table {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    padding-top: 40px;
}

.week-table::-webkit-scrollbar {
    width: 10px;  
    height: 10px;       
}
  
.week-table::-webkit-scrollbar-track {
    background: transparent;          
}
  
.week-table::-webkit-scrollbar-thumb {
    background-color: #9D331F;    
    border-radius: 2px;     
    margin: 1px;   
}

.buttons-table {
    margin: 20px;
    right: 0;
    top: 0;
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #9D331F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.week-switch-button {
    font-size: 20px;
    padding: 5px;
    background-color: transparent;
    color: white;
}

.week-switch-button:hover {
    color: #9D331F;
}
