body {
  opacity: 1;
}

.add-task-modal {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  position: fixed;
  top: 20%;
  left: 35%;
  border-radius: 16px;
  background-color: rgb(35, 31, 31);
  z-index: 70;
  visibility: hidden;
  width: 450px;
  height: 250px;
  padding-left: 20px;
  padding-bottom: 20px
}

.add-task-modal.open {
  opacity: 1;
  visibility: visible;
}

.task-create {
    padding: 10px;
    padding-left: 10%;
    opacity: 1;
    margin: 10px;
}

.name_edit {
    width: 100%;
    display: block;
    font-size: 20px;
    opacity: 0.8;
    color: white;
    background-color: transparent;
}

.desc_edit {
    display: block;
    font-size: 16px;
    opacity: 0.5;
    color: white;
    background-color: transparent;
}

.task-text-fields {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.task-text-fields > * {
    opacity: 1;
    padding-top: 10px;
}

.task-labels {
    padding-top: 15px;
    display: flex;
}

.new-tags-list {
    font-size: 20px;
    margin-left: 20%;
}

.task-save {
    display: flex;
    justify-content: center;
    width: 100%;
}
